%h1 Beers found
%ol
  -if @beers.count.zero?
    %p We couldn't find any beer called '#{params[:name]}'
    %p
      You could create it here 
      = link_to "Create"

  -@beers.each do |beer|
    %li
      = beer.name 
      = beer.brand
      -if beer.votes.nil?
        = link_to "Vote!", vote_path(beer)
